In [1]:
!pip install pandas sqlalchemy psycopg2-binary
import pandas as pd
import pyarrow.parquet as pq
from sqlalchemy import create_engine
from time import time

Requirement already satisfied: pandas in /Users/yoki/myenv/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: sqlalchemy in /Users/yoki/myenv/lib/python3.12/site-packages (2.0.31)
Requirement already satisfied: psycopg2-binary in /Users/yoki/myenv/lib/python3.12/site-packages (2.9.9)
Requirement already satisfied: numpy>=1.26.0 in /Users/yoki/myenv/lib/python3.12/site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/yoki/myenv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/yoki/myenv/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/yoki/myenv/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/yoki/myenv/lib/python3.12/site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: six>=1.5 in /Users/yoki/myenv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
df = pd.read_parquet('yellow_tripdata_2024-01.parquet')

In [3]:
# # tell pandas to convert these columns to datetime format 
pd.to_datetime(df.tpep_pickup_datetime)
pd.to_datetime(df.tpep_dropoff_datetime)

0         2024-01-01 01:17:43
1         2024-01-01 00:09:36
2         2024-01-01 00:35:01
3         2024-01-01 00:44:56
4         2024-01-01 00:52:57
                  ...
2964619   2024-01-31 23:54:36
2964620   2024-01-31 23:27:52
2964621   2024-01-31 23:38:00
2964622   2024-01-31 23:25:14
2964623   2024-02-01 00:13:30
Name: tpep_dropoff_datetime, Length: 2964624, dtype: datetime64[us]

In [4]:
pd.io.sql.get_schema(df, name='yellow_taxi_data')

'CREATE TABLE "yellow_taxi_data" (\n"VendorID" INTEGER,\n  "tpep_pickup_datetime" TIMESTAMP,\n  "tpep_dropoff_datetime" TIMESTAMP,\n  "passenger_count" REAL,\n  "trip_distance" REAL,\n  "RatecodeID" REAL,\n  "store_and_fwd_flag" TEXT,\n  "PULocationID" INTEGER,\n  "DOLocationID" INTEGER,\n  "payment_type" INTEGER,\n  "fare_amount" REAL,\n  "extra" REAL,\n  "mta_tax" REAL,\n  "tip_amount" REAL,\n  "tolls_amount" REAL,\n  "improvement_surcharge" REAL,\n  "total_amount" REAL,\n  "congestion_surcharge" REAL,\n  "Airport_fee" REAL\n)'

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
engine.connect()

In [7]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "Airport_fee" REAL
)

In [8]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [9]:
def insert_chunks(parquet_file, table_name, engine):
    num_row_groups = parquet_file.num_row_groups
    start = 0

    while start < num_row_groups:
        t_start = time()
        end = start + 1  

        try:
            df = parquet_file.read_row_group(start).to_pandas()

            print(f"Row group {start+1}/{num_row_groups}, records: {len(df)}")

            df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
            df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

            df.to_sql(name=table_name, con=engine, if_exists='append', index=False)

            t_end = time()
            print(f"Inserted chunk {start+1}/{num_row_groups}, took {t_end - t_start:.3f} seconds")

        except Exception as e:
            print(f"Error inserting chunk {start+1}: {str(e)}")

        start = end

parquet_file = pq.ParquetFile('yellow_tripdata_2024-01.parquet')
insert_chunks(parquet_file, 'yellow_taxi_data', engine)

Row group 1/3, records: 1048576
Inserted chunk 1/3, took 44.314 seconds
Row group 2/3, records: 1048576
Inserted chunk 2/3, took 43.618 seconds
Row group 3/3, records: 867472
Inserted chunk 3/3, took 35.123 seconds

In [10]:
# df_iter = pd.read_csv('yellow_tripdata_2024-01.csv', iterator=True, chunksize=100000)
# df = next(df_iter)
# len(df)

# pd.to_datetime(df.tpep_pickup_datetime)
# pd.to_datetime(df.tpep_dropoff_datetime)
# df.head()

# # only insert heads 
# df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

# check the columns & column types in pgcli 
# \d yellow_taxi_data 
# %time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

In [11]:
# insert all data in chunks 
# while True: 
#     t_start = time()
#     df = next(df_iter)
    
#     pd.to_datetime(df.tpep_pickup_datetime)
#     pd.to_datetime(df.tpep_dropoff_datetime)

#     df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

#     t_end = time()

#     print('inserted another chunk..., took %.3f second', % (t_end - t_start))

In [12]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv

--2024-06-25 10:35:06--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 2600:9000:234c:9800:b:20a5:b140:21, 2600:9000:234c:5c00:b:20a5:b140:21, 2600:9000:234c:6600:b:20a5:b140:21, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|2600:9000:234c:9800:b:20a5:b140:21|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12331 (12K) [text/csv]
Saving to: ‘taxi_zone_lookup.csv.1’

taxi_zone_lookup.cs 100%[===================>]  12.04K  --.-KB/s    in 0s

2024-06-25 10:35:07 (72.1 MB/s) - ‘taxi_zone_lookup.csv.1’ saved [12331/12331]

In [13]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [14]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [18]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265